{% extends "base.html" %}

<!-- title block -->
{% block title %}About{% endblock %}

<!-- navLinks block -->
{% block navLinks %} 
    <ul class="nav-links">
        <li>
            About
        </li>
        <li>
            <a href="{{ url_for('upload') }}">Product</a>
        </li>
        <li>
            <a href="{{ url_for('help') }}">Help</a>
        </li>
    </ul>
{% endblock %}

<!-- main block -->
{% block main %}
    <!-- About Banner -->
     <section id="about-banner">
        <h1 class="banner-text">
            Cloud-Hosted image to <span style="color: #F2B93F;">Passport Photograph</span> web application
        </h1>

        <button class="cta-btn">Download Now</button>

        <h5 class="tc">By downloading our application you agree to our <br> <a href="">terms of service</a></h5>
     </section>
    <!-- About Banner end-->
{% endblock %}