<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- NavBar -->
    <nav class="nav-bar" id="home">
        <h1 class="logo">
            <a href="{{ url_for('index') }}">LOGO</a>
        </h1>
        
        {% block navLinks %}{% endblock %}

        <div
        id="burger"
        class="burger">
            <div class="line one"></div>
            <div class="line two"></div>
            <div class="line three"></div>
        </div>
    </nav>
    <!-- NavBar end -->
    
    <!-- Main Section -->
    <main id="main" class="page-wrapper">
    {% block main %}{% endblock %}
    </main>
    <!-- Main Section end -->

    <!-- Footer Section -->
     <footer id="footer" class="footer-section">
        <div class="line"></div>

        <div class="footer-bottom">
            <h3 class="footer-logo">LOGO</h3>
            <small>&copy; name2024 rights reserved</small>
        </div>
     </footer>
    <!-- Footer Section end -->


{% block script %}{% endblock %}
<script src="/static/javascript/nav.js"></script>
<script src="/static/javascript/main.js"></script>
</body>
</html>