<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- NavBar -->
    <nav class="nav-bar" id="home">
        <h1 class="logo">
            <a href="{{ url_for('index') }}">Logo</a>
        </h1>
        
        {% block navLinks %}{% endblock %}
    </nav>
    <!-- NavBar end -->
    
    <!-- Main Section -->
    <main id="main">
    {% block main %}{% endblock %}
    </main>
    <!-- Main Section end -->

</body>
</html>