{% extends "base.html" %}

<!-- title block -->
{% block title %}Upload{% endblock %}

<!-- navLinks block -->
{% block navLinks %} 
    <ul class="nav-links">
        <li>
            <a href="{{ url_for('about') }}">About</a>
        </li>
        <li>
            Product
        </li>
        <li>
            <a href="{{ url_for('help') }}">Help</a>
        </li>
    </ul>
{% endblock %}

<!-- main block -->
{% block main %}
    <!-- Upload Section -->
    <section id="upload">
        <h1 class="upload-text">
            Upload an Image to make it a <span style="color: #F2B93F;">passport photograph</span>
        </h1>

        <form action="" method="post">
            <input type="file" id="file-input" style="display: none;" />
            <button id="upload-button" class="cta-btn">Upload Image</button>
        </form>
        

        <small class="tc">By uploading an image you agree to our <br> <a href="">terms of service</a> </small>
    </section>
    <!-- Upload Section end -->
{% endblock %}